.masonry-grid {
  display: flex;
  margin-left: -24px;
  width: auto;
}

.masonry-grid-column {
  padding-left: 24px;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 24px;
}
